Repository sirosfoundation/go-as4: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt -s -w
        language: system
        types: [go]
        pass_filenames: true

      - id: go-vet
        name: Go Vet
        entry: bash -c 'go vet ./...'
        language: system
        types: [go]
        pass_filenames: false

      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        files: '(\.go$|go\.mod$)'
        pass_filenames: false

      - id: go-test
        name: Go Test
        entry: bash -c 'go test -race -short ./pkg/...'
        language: system
        types: [go]
        pass_filenames: false
        stages: [pre-push]

fix: remove local path replacements from go.mod
  go.mod
  go.sum
Due: go-mod-tidy

fix: adjust CI for Go 1.25 dependency compatibility
  .github/workflows/ci.yml
Due: none

fix: Update signedxml to v1.2.3-leifj6 and downgrade Go to 1.23
  .github/workflows/ci.yml
  go.mod
  go.sum
Due: go-mod-tidy

chore: Update badges [skip ci]
  .badges/main/coverage.svg
  .badges/main/golang.svg
Due: none

ci: Skip phase4 integration tests in CI
  tests/interop/phase4/cmd/tc02_tc03_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

feat: Add TrustAPIEvaluator implementing trustapi.TrustEvaluator interface
  pkg/security/certvalidation.go
  pkg/security/certvalidation_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

chore: Update badges [skip ci]
  .badges/main/coverage.svg
Due: none

feat(discovery): Add eDelivery BDXL and SMP dynamic discovery
  go.mod
  go.sum
  pkg/discovery/bdxl.go
  pkg/discovery/bdxl_test.go
  pkg/discovery/discovery.go
  pkg/discovery/discovery_test.go
  pkg/discovery/doc.go
  pkg/discovery/smp.go
  pkg/discovery/smp_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

chore: update clean target and gitignore for generated files
  .gitignore
  Makefile
Due: none

chore: update dependencies
  go.mod
  go.sum
Due: go-mod-tidy

feat(internal): add multi-tenant AS4 server infrastructure
  internal/config/config.go
  internal/keystore/factory.go
  internal/keystore/file.go
  internal/keystore/interface.go
  internal/keystore/pkcs11.go
  internal/keystore/prf.go
  internal/storage/interface.go
  internal/storage/mongodb/store.go
  internal/tenant/service.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

feat(auth): add OAuth2/JWT authentication middleware
  internal/auth/auth.go
  internal/auth/crypto.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

feat(jmap): implement JMAP RFC 8620 extension for AS4
  internal/jmap/encoding.go
  internal/jmap/handler.go
  internal/jmap/types.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

feat(server): add AS4 handler and background sender
  internal/as4/handler.go
  internal/sender/sender.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

feat(server): add HTTP server with REST and JMAP APIs
  internal/server/server.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

feat(sdk): add Swedish SDK federation support
  pkg/sdk/doc.go
  pkg/sdk/pmode.go
  pkg/sdk/smp_extension.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

feat(security): add OCSP/CRL certificate revocation checking
  pkg/security/revocation.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

feat(xhe): add XML Header Envelope support
  pkg/xhe/doc.go
  pkg/xhe/xhe.go
  pkg/xhe/xhe_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

test: add and update tests for message handling
  pkg/as4/client_test.go
  pkg/discovery/smp.go
  pkg/message/namespace_test.go
  pkg/message/payload_test.go
  pkg/mime/multipart_test.go
  pkg/msh/msh_test.go
  pkg/msh/security_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

docs: add design documentation and specifications
  docs/design/multitenant-server-design.md
  docs/draft-johansson-jmap-as4.md
  docs/edelivery-as4-gap-analysis.md
  docs/sdk-compliance.md
Due: none

refactor: decouple AS4 handler from signedxml/crypto11
  Makefile
  go.mod
  go.sum
  internal/as4/handler.go
  internal/keystore/pkcs11.go
  internal/keystore/pkcs11_stub.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

feat(server): add Docker image and API test tooling
  Dockerfile
  docker-compose.yaml
  scripts/test-api.sh
Due: none

fix: update signedxml to remove crypto11 dependency
  go.mod
  go.sum
  internal/as4/handler.go
  internal/keystore/pkcs11.go
  internal/keystore/pkcs11_stub.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

feat(dev): add development mode for easier local testing
  .gitignore
  Makefile
  docker-compose.yaml
  internal/auth/auth.go
  internal/auth/auth_test.go
  internal/config/config.go
  scripts/generate-dev-keys.sh
  scripts/test-api.sh
Due: go-fmt, go-vet, go-mod-tidy, go-test

ci: update Go version to 1.25.x and fix race condition in test
  .github/workflows/ci.yml
  .github/workflows/release.yml
  internal/as4/handler.go
  internal/auth/auth_test.go
  pkg/msh/msh_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

ci: fix Go version and golangci-lint compatibility
  .github/workflows/ci.yml
Due: none

ci: use golangci-lint-action v7 for v2 support, fix comment formatting
  .github/workflows/ci.yml
  pkg/message/namespace.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

Add golangci-lint config to reduce noise
  .golangci.yml
Due: none

ci: use exact Go 1.25.1 for consistent gofmt behavior
  .github/workflows/ci.yml
  .golangci.yml
Due: none

ci: improve gofmt diagnostics and disable gofmt in golangci-lint
  .github/workflows/ci.yml
  .golangci.yml
Due: none

fix: format doc comments per Go 1.19+ gofmt rules
  .golangci.yml
  pkg/message/namespace.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

docs: add server documentation to README
  README.md
Due: none

clarification
  README.md
Due: none

feat: integrate go-cryptoutil for extensible crypto support
  docs/adr/009-supporting-edelivery-2024.md
  go.mod
  go.sum
  internal/keystore/factory.go
  internal/keystore/file.go
  internal/keystore/pkcs11.go
  internal/keystore/pkcs11_stub.go
  internal/server/server.go
  internal/storage/mongodb/store.go
  pkg/sdk/smp_extension.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

fix: go mod tidy - move go-cryptoutil to direct dependency
  go.mod
Due: go-mod-tidy

Update README.md by removing badges
  README.md
Due: none

ci: add github-actions to dependabot config
  .github/dependabot.yml
Due: none

ci: add github-actions to dependabot config (#1)
  .github/dependabot.yml
Due: none
